:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none; 
}
